@media (min-width: 60em) {
    #content-stream {
        grid-template-columns: 1fr 1fr 1fr;
      }
    .content-box3 {
      display: block;
      grid-column: 3/4;
      grid-row: 1/2;
      width: 90%;
    }
    h2 {
      font-size: 24px;
    }
}