@media (min-width: 60em) {
    #content-stream {
        grid-template-columns: 1fr 1fr 1fr;
      }
    .content-box3 {
      display: block;
      grid-column: 3/4;
      grid-row: 1/2;
      width: auto;
    }
    .content-box3 img {
      max-width: auto;
    }
}