@media (min-width: 84em) {
    main {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        width: 80%;
    }
    .hero {
        grid-column: 2/3;
        grid-row: 1/3;
    }
    .navigation li a {
        margin: auto 15px;
    }
    .news {
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .socials a {
        margin: auto;
    }
    .spotlights {
        grid-column: 3/4;
        grid-row: 1/4;
        display: flex;
        flex-direction: column;
        height: 100%;
        margin: auto;
        width: 100%;
    }
    .spotlights div:last-child {
        display: block;
    }
    .spotlight {
        margin: auto;
        padding: 3.5em 0;
    }
    .join {
        display: block;
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .event {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .weather {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .copyright {
        display: flex;
        flex-direction: row;
    }
    .navigation li:first-child {
        display: none;
    }
    .navigation li {
        display: block;
    }
    .navigation{
        align-items: center;
        display: flex;
        flex-direction: row;
    }
    nav {
        grid-column: 3/4;
        max-width: 1000px;
    }
    .socials {
        grid-column: 4/5;
    }
    footer,
    header {
        margin: auto;
        width: 90%;
    }
    .logo-banner {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .discover-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        max-width: 95%;
    }
    .discover-img {
        max-width: 700px;
        width: auto;
        height: auto;
    }
    .discover-sec5 {
        grid-column: 1/3;
        margin: 10px 15px;
        width: auto;
    }
    form {
        grid-column: 1/3;
    }
    .membership-stats {
        grid-column: 3/4;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    /*
    Alternative section 5 layout on discover page
    .discover-sec5 {
        grid-column: 1/3;
        margin: 10px auto;
        max-width: 600px;
        padding: 0 40px;
        width: auto;
    }
    */
}