/* Stylesheet for Chamber Site */

/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Copse&display=swap');
:root {
    /* Color Palatte: https://coolors.co/37373c-323c46-466e0a-c8c8c8-b0c6ce */
    --neutral-color: #37373C;
    --primary-color: #323C46;
    --accent-color: #6bb300;
    --light-neutral-color: #C8C8C8;
    --accent-color2: #B0C6CE;
}
/* Id Selectors */
/* Class Selectors */
.banner {
    background-color: var(--neutral-color);
    display: grid;
    grid-template-rows: auto;
    margin: 0 auto;
    max-width: 760px;
    width: auto;
}
.banner div {
    color: white;
    margin: 5px auto;
    text-align: center;
    width: auto;
}
.banner div h1 {
    margin: 5px auto;
    font-family: 'copse';
    font-size: 24px;
}
.banner-title {
    grid-column: 2/3;
    grid-row: 1/2;
    width: auto;
}
.bold-text {
    font-weight: 700;
}
.date {
    background-color: var(--light-neutral-color);
    display: block;
    grid-column: 1/5;
    grid-row: 2/3;
    margin: auto;
    width: 100%;
}
.date p {
    color: black;
    display: block;
    font-weight: 600;
    width: 100%;
}
.footer-divide {
    background-color: var(--light-neutral-color);
    height: 1px;
    width: 90%;
}
.hero {
    background-color: var(--accent-color2);
    color: black;
}
.join {
    display: none;
}
.logo {
    background-color: var(--light-neutral-color);
    border-radius: 25px;
    display: block;
    grid-row: 1/2;
    text-justify: center;
    margin: 5px auto;
    max-width: 130px;
}
.navigation {
    list-style: none;
    text-align: center;
    padding: 0;
}
.navigation li:first-child {
    display: block;
}
.navigation li {
    display: none;
}
.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}
.navigation a:hover {
    color: black;
    background-color: var(--light-neutral-color);
    border-radius: 25%;
}
    /* On click javascript with toggle menu contents*/
.responsive li {
    display: block;
}
.socials {
    grid-column: 3/4;
    grid-row: 1/2;
    width: auto;
}
.socials img {
    border-radius: 50%;
}
.spotlight {
    background-color: var(--neutral-color);
    color: white;
    height: 250px;
    margin: 0 auto;
    width: 95%;
}
.spotlights {
    background-color: var(--accent-color);
    height: 550px;
}
.spotlights div:last-child {
    display: none;
}
/* Element Selctors */
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%
}
nav{
    background-color: var(--neutral-color);
    grid-column: 4/5;
    grid-row: 1/3;
    height: 100%;
    margin: auto;
    max-width: 760px;
    width: auto;
}
nav a {
    margin: auto;
    padding: 0;
    width: auto;
}
footer {
    margin: 0 auto;
    max-width: 760px;
    width: 100%;
    background-color: var(--neutral-color);
}
footer div {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    width: auto;
}
footer div:last-child {
    border-bottom: none;
}
footer p {
    color: white;
    display: block;
    font-size: clamp(1rem, 2vmin, 1.5rem);
    margin: 5px auto;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
    width: auto;
}
footer p:last-child {
    border-bottom: none;
}
footer a {
    color: white;
}
footer a:hover {
    color: var(--accent-color)
}
header {
    margin: auto;
    width: 100%;
}
img {
    width: auto;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 2fr;
    margin: auto;
    max-width: 760px;
    width: 100%;
}
section {
    background-color: var(--primary-color);
    color: white;
    height: 250px;
    margin: 5px auto;
    width: 100%;
}
@media (max-width: 450px) {
    .banner {
        display: flex;
        flex-direction: column;
    }
}