/* Id Selectors */
#activities-card.card-body {
    display: grid;
    grid-template-columns: 2fr 3fr;
    width: 100%;
}
/* Class Selectors */
.active {
    background-color: lightsteelblue;
}
.card {
    background-color: lightgrey;
    border: 1px solid black;
    border-radius: 5px;
    height: 100%;
}
.card-body {
    background-color: white;
    border-radius: 5px;
    margin: 0.5rem;
    padding: 0.5rem 0;
}
.divider {
    display: none;
}
.week {
    height: 25px;
    margin: 0.5rem auto;
}
.week-links {
    margin: 1rem 0.5rem;
}
.week-links div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
/* Element Selectors */
a {
    text-decoration: none;
}
body {
    margin: auto;
    text-align: center;
    width: 100%;
}
footer {
    margin: 1rem auto;
}
header {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
li {
    align-items: center;
    background-color: lightgray;
    border-radius: 5px;
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: center;
    margin: 0.5rem;
    text-align: center;
    max-width: 100px;
}
li a {
    background-color: lightgray;
    border-radius: 5px;
    color: black;
    display: block;
    max-width: 100px;
}
main {
    display: grid;
    gap: 1rem;
    margin: 1rem auto;
    width: 85%;
}
nav {
    background-color: lightgrey;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    max-width: 1500px;
    width: 100%;
}
nav a {
    border: 2px solid black;
    color: black;
    display: block;
    height: 25px;
    justify-content: center;
    margin: auto;
    padding-top: 5px;
    text-align: center;
    width: 100%;
}
ul {
    list-style: none;
    margin: 0.5rem 1rem;
    padding: 0;
}
/* MultiElement Selectors */
footer,
header {
    background-color: lightgrey;
    max-width: 1500px;
    width: 100%;
}
header img{
    margin: 1rem auto;
    margin-right: 1rem;
    max-height: 100px;
}
header h1 {
    margin: auto;
    margin-left: 1rem;
    text-align: left;
}
li a:hover,
nav a:hover {
    background-color: gray;
    color: white;
}